@{
    ViewData["Title"] = "Career Hopes";
}

<div class="text-center">
    <h1>Career Hopes</h1>
    <img src="~/Images/nc.png" width="100" height="50"/>
    <hr />
    <div class="two-column">
        <div class="two-col-left">
            <h3>Genral Job Field</h3>
            <p>
                I'm working on taking all the projects
                I make here at Neumont and putting them together
                in a cohesive portfolio that I can use for my job hunting.
            </p>

            <h4>Job Field</h4>
            <p>
                Since I'm in the <img src="~/Images/controller.png" width="35" height="20"/>
                BSGD degree,
                it should come as no suprise that my biggest
                dream is to become a video game developer
                no matter what the associated struggles may be.
                The risk may be high, the rewards may mbe low,
                and it's a hell of a learning curve sometimes,
                but for me it's worth it!
            </p>

            <h4>Specializations</h4>
            <p>
                Ideally, I would rather go into the field doing something low level,
                maybe as a developer for the engine itself even. There's a lot to learn
                and it gets at the fundamentals of what a game is allowed to have in it
                (if it is based on said engine).
            </p>
        </div>
        <div class="two-col-splitter">
            <p></p>
        </div>
        <div class="two-col-right">
            <h3>Who I would like to work for</h3>
            <h4>Solo / Indie</h4>
            <p>
                I want to create a little more on my own,
                I have folders of files of documents of ideas
                for games that I would love to breathe life into,
                and depending on my success I could even make a
                decent living!
            </p>
            <h4>Industry</h4>
            <p>
                depending on where being a solo developer takes me,
                I would also like to go into industry
                after I had made a name for myself.
            </p>
            <p>
                If I get lucky enough to get a choice in who to work for,
                I would love to try to work at <a href="https://www.fromsoftware.jp/ww/">FromSoftware</a> or <a href="https://www.rockstargames.com/"> RockStar</a>!
                They have consistently made great games and with <a href="https://en.cdprojektred.com/"> CD Projekt</a>'s current situation,
                I believe I'll find better work at a company that isn't looking to make ammends to their consumers.
                That being said, I do not want to work for <a href="https://bethesda.net/en/dashboard">Bethesda</a> or <a href="https://www.ubisoft.com/en-us/">Ubisoft</a>
                as I've just felt that their titles preform a little below the benchmark too often to feel comfortable with.
            </p>
        </div>
    </div>
</div>
