@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">~ Welcome! ~</h1>
    <p>Learn about me! Below you will see some summarized knowledge about myself, and above you will see some links to show you some more specific information</p>
    <hr />
    <div class="two-column">
        <div class="two-col-left">
            <h3>What I do today</h3>
            <h4>Coding</h4>
            <p>
                I've done work mostly in C based languages. I know a little SQL and JavaScript,
                but they arent my bread'n'butter.
                Although I haven't updated my Github to reflect it yet,
                about 1/3 of my work is in java, half is in c++ and the rest is in c#
            </p>

            <h4>Recreational Activities</h4>
            <p>
                I play pool now! It wasn't something that I picked up until I moved here,
                but I'm getting better with practice! I also mess around in Unity occasionally
                and touch on past projects when I'm not playing GTAV or Minecraft.
            </p>
            
            <h4>Minecraft Club <img src="~/Images/NMCC.png" width="33" height="33" /> </h4>
            <p>I'm the president of NMCC, so if you're a student at Neumont... Join it or you're a nerd~</p>

            <h4></h4>
            <p></p>
        </div>
        <div class="two-col-splitter">
            <p></p>
        </div>
        <div class="two-col-right">
            <h3>General Knowledge</h3>
            <p>I guess this is where I would fill out all the nonsnse that is usually reserverd for a twitter biography...</p>
            <p>WAIT A MINUTE!</p>
            <p>
                |
                <a class="personal-links" href="https://twitter.com/asledorf"> Twitter</a>
                |
                <a class="personal-links" href="https://www.youtube.com/channel/UCz06dWgguPr7L3CWi8RRo-Q">YouTube</a>
                |
                <a class="personal-links" href="https://www.twitch.tv/asledorf">Twitch</a>
                |
                <a class="personal-links" href="https://asledorf.itch.io/">Itch.io</a>
                |
                <a class="personal-links" href="https://github.com/Asledorf">Github</a>
                |
            </p>
            <hr />
            <img src="~/Images/pfp.png" width="250" height="250">
            <figcaption>~ My icon for everything virtual ~</figcaption>
        </div>
    </div>
</div>
