@{
    ViewData["Title"] = "Before College";
}

<div class="text-center">
    <h1>Life before Neumont</h1>
    <hr />
    <div class="two-column">
        <div class="two-col-left">
            <h2>School Life</h2>
            <h4>Coding Experience</h4>
            <p>
                for the most part I literally knew nothing about coding except that I loved the concept of it.
                I had made a singular tiny game in <a href="https://www.code.org">Code.org</a> using javascript, and that's it!
            </p>
            <h4>Extra Curriculars</h4>
            <h5>Instrments</h5>
            <p>
                I played the trombone for 10 years starting in 3rd grade up until graduation playing in concerts
                all along the east coast from the St Macy's Day parade in the time square to Disney World in Florida.
                I'm planning to get it sent out to me though currently so I can pick it up and join an ensamble again!
            </p>
            <h5>Sports</h5>
            <p>I don't know if I would consider it a sport, but I took Taekwondo for about 7 years and still practice recreationally.</p>
            <p>
                I also played soccer for 5 years and by the time I left highschool I took pride in being able to play almost any position.
                The exception being that I couldn't play goalie to save my life.
            </p>
            <h5>Chior</h5>
            <p>
                I started in kindergarden and was involved in chior for every year except for 10th grade.
                I left Highschool as a Bass II with a vocal range extending into alto I / soprano II.
            </p>
        </div>
        <div class="two-col-splitter">
            <p></p>
        </div>
        <div class="two-col-right">
            <h3>After Hours</h3>
            <p>
                Truthfully speaking, I can't remember most of my
                <br />
                non-school life before graduating highschool.
                <br />
                I had my share of highschool loves and scuffles,
                <br />
                but nothing that stood out as being defining
                <br />
                other than a strong love for video games and
                <br />
                classic rock which I still hold today.
            </p>
            <hr />
            <img src="~/Images/GlendaleHS.jpg" width="350" height="225" />
            <figcaption>Glendale High School - Flinton, PA</figcaption>
            <p></p>
            <div class="two-column">
                <img src="~/Images/home.png" width="100" height="66" />
                <figcaption>I lived on the second floor <br />in my old home</figcaption>
            </div>
        </div>
    </div>
</div>
